################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pragmatic Clean Architecture/.vs/Bookify
